.search-form {
  width: 100%;
  display: flex;

  &__query-input {
    width: 100%;
    padding: 10px;
  }

  &__submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.artists-results-container, .tracks-results-container {
  padding: 2em;
}

.artists-results-container {
  display: flex;
  flex-wrap: wrap;
}

.no-results-found {
  color: #bcbcbc;
  font-size: 14px;
  text-align: center;
}

::ng-deep .mat-mdc-tab-labels {
  font-size: 14px;
}
