.track {
  padding-top: 5px;
  display: flex;
  cursor: pointer;

  &__image-container {
    width: 50px;
    margin-right: 20px;
  }

  &__image {
    max-width: 100%;
  }

  &__metadata-container {
    flex: 1 1 auto;
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
  }

  &__artist-name{
    font-size: 12px;
    display: inline-block;
  }

  &__duration {
    font-size: 12px;
  }

  &__duration::before {
    content: "|";
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__actions {
    text-align: right;
  }
}
