$border-radius: 5px;

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  cursor: pointer;

  &__image {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    flex: 1 1 120px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__name {
    flex: 0 0 auto;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    @include text-truncate();
  }
}
