.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist {

  &__image {
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }

  &__name {
    font-size: 14px;
  }
}

.title {
  font-size: 14px;
  font-weight: normal;
}
