<app-header></app-header>

<div [ngStyle]="{ 'padding': '2em' }">
  <div *ngIf="artist" class="artist-container">
    <div>
      <img class="artist__image" src="{{ artist.image }}" alt="Photo of {{ artist.name }}">
    </div>
    <h3 class="artist__name">{{ artist.name }}</h3>
  </div>

  <h3 class="title">Tracks</h3>
  <mat-divider></mat-divider>

  <div *ngFor="let artist_track of artist_tracks">
    <app-track-item [track]=artist_track (play)="on_play(artist_track)"></app-track-item>
    <mat-divider></mat-divider>
  </div>

  <app-progress-spinner *ngIf="loading"></app-progress-spinner>
</div>

<audio-player *ngIf="artist_tracks.length != 0" [audioList]=artist_tracks></audio-player>

<app-nav></app-nav>
